body {
	--brand-color: rgb(192, 48, 24);
	--background-color: rgb(80, 90, 100);
	--nav-bar-height: 2.5rem;
	--min-width: 15rem;
	--max-width: 90rem;
	min-width: var(--min-width);
	line-height: 1.5;
	background-color: var(--background-color);
	color: #fff;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul, ol {
	list-style-type: none;
	padding: 0;
}
header {
	height: var(--nav-bar-height);
	background: var(--brand-color);
	line-height: var(--nav-bar-height);
	box-sizing: border-box;
	min-width: var(--min-width);
	padding: 0 1rem;
	box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	transition: top 0.2s;
}
main {
	box-sizing: border-box;
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: var(--nav-bar-height) 1rem 0;

	opacity: 0;
	transition: opacity 0.2s linear;
}
input, textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 8px;
	border: solid 1px #000;
	margin: 4px 0;
}
textarea {
	resize: vertical;
}
.flex-item {
	padding: 2rem 0;
}
.flex-item > h3:first-child {
	margin-top: 0;
}
.card {
	padding: 1.5rem;
	border-radius: 8px;
	background-color: #fff;
	color: #444;
	margin: 4rem auto;
	box-shadow: 0px 4px 6px 2px rgb(0, 0, 0);
	text-align: center;
}
.card h3 {
	color: #111;
}
.card h4 {
	color: #222;
	margin: 1em 0;
}
.head-image {
	max-width: 75%;
	width: 200px;
	height: auto;
	margin: 0 auto;
	display: block;
}
.card-header {
	margin: 0 auto 1em auto;
}
.seq-list-item {
	margin-top: 2rem;
}
.hide-header {
	top: calc(-1 * var(--nav-bar-height));
	box-shadow: none;
}
#header-menu-btn {
	height: 50%;
	border: none;
	background-color: inherit;
	display: block;
	position: relative;
	top: 25%;
}
#site-footer {
	padding: 2rem;
	background-color: #fff;
	color: #000;
	bottom: 0px;
}
#hero {
	overflow: hidden;
	text-align: center;
}
#hero-message {
	margin-top: var(--nav-bar-height);
}
#main-img {
	display: block;
	width: 100%;
	max-width: 32rem;
	height: auto;
	margin: 0 auto;
}
#get-started-btn {
	display: inline-block;
	margin: 1rem auto;
}
.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 80%;
	transform: translateX(-100%);
	transition: transform ease-in-out 0.25s;
	background-color: inherit;
}
.slide-out {
	transform: translateX(0%);
	box-shadow: 0 0 32px 8px #000;
}
.nav-tab {
	font-size: 1.1em;
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 0.5em 1em;
	box-sizing: border-box;
}
.nav-tab:hover, .nav-tab-active {
	background-color: rgb(150, 25, 0);
}
.btn {
	padding: 0.5em;
	border-radius: 8px;
	background-color: #fff;
	color: var(--background-color);
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
}
.btn:hover {
	background-color: #ccf;
}
.header-logo, #footer-logo {
	font-weight: 700;
	color: inherit;
	text-decoration: none;
	font-size: 1.7em;
}
#site-header-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#hero-ctas {
	margin: 4rem 0;
}
.hero-cta {
	display: block;
	margin: 2rem auto;
	max-width: 24rem;
	font-size: 1.4rem;
	padding: 0.8em;
}
#hero-card {
	margin-top: 0;
}
#page-header {
	text-align: center;
}
#page-hero {
	text-align: center;
	font-size: 1.5rem;
}
#footer-logo {
	font-size: 1.5rem;
	color: var(--brand-color);
	margin-top: 0.5rem;
	display: block;
}
@media screen and (min-width: 56rem) {
	body {
		--nav-bar-height: 3rem;
	}
	main {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.flex-container {
		display: flex;
		justify-content: space-evenly;
	}
	.flex-item {
		padding: 0 2rem;
		flex: 1;
	}
	.card {
		margin: 4rem auto;
		padding: 3rem;
	}
	#site-header-logo {
		position: static;
		transform: none;
	}
	#hero {
		text-align: left;
	}
	#hero-message {
		position: absolute;
		z-index: 1;
	}
	#main-img {
		margin-top: 4em;
		max-width: 50rem;
	}
	#header-menu-btn {
		display: none;
	}
	.header-nav {
		position: static;
		float: right;
		width: unset;
		height: 100%;
		transform: translateX(0%);
	}
	.nav-tab {
		display: inline-block;
		height: var(--nav-bar-height);
		border-bottom: 0.2em solid var(--brand-color);
		margin: 0 1em;
		padding: 0;
	}
	.nav-tab:hover, .nav-tab-active {
		border-bottom-color: #fff;
		background-color: inherit;
	}
	.header-nav > .header-logo {
		display: none;
	}
	#hero-ctas {
		display: flex;
		justify-content: center;
		margin: 4rem 0;
	}
	.hero-cta {
		margin: 0 2rem;
		flex: 0 1 24rem;
	}
	#site-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#footer-address {
		flex: 0 0 auto;
		margin-right: 1rem;
	}
	#footer-logo {
		margin-top: 0rem;
	}
}
