* {
	font-family: sans-serif;
}
body {
	/*--brand-color: rgb(225, 50, 25);*/
	--brand-color: rgb(192, 48, 24);
	--background-color: rgb(80, 90, 100);
	--nav-bar-height: 2.5rem;
	--horizontal-padding: 1rem;
	--min-width: 15rem;
	--max-width: 90rem;
	min-width: var(--min-width);
	line-height: 1.5;
	background-color: var(--background-color);
	margin: 0;

}
h3 {
	color: #111;
}
h4 {
	color: #222;
	margin: 1em 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	margin: 1em 0;
	color: #444;
}
.flex-container {
	display: flex;
	flex-direction: column;
	background-color: inherit;
	justify-content: space-evenly;
}
.card-content {
	margin: 1rem 0 2rem;
	flex: 1 1 0px;
	font-family: "Roboto", sans-serif;
	text-align: center;
}
.card {
	padding: 1.2rem;
	border-radius: 8px;
	background-color: #fff;
	margin: 4rem auto;
	box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.75);
	max-width: 32rem
}
.head-image {
	max-width: 75%;
	width: 200px;
	height: auto;
	margin: 0 auto;
	display: block;
}
.card-header {
	margin: 0 auto 16px auto;
	text-align: center;
}
header {
	height: var(--nav-bar-height);
	background: var(--brand-color);
	color: #fff;
	line-height: var(--nav-bar-height);
	box-sizing: border-box;
	min-width: var(--min-width);
	padding: 0 var(--horizontal-padding);
	box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	transition: top 0.2s;
}
.hide-header {
	top: calc(-1 * var(--nav-bar-height));
	box-shadow: none;
}
#header-menu-btn {
	height: 50%;
	border: none;
	background-color: inherit;
	margin-right: 1em;
}
main {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: var(--nav-bar-height) var(--horizontal-padding) 0;
}
#footer {
	padding: var(--horizontal-padding);
	background-color: #fff;
	bottom: 0px;
}
#hero {
	overflow: hidden;
	text-align: center;
	color: #fff;
}
#hero-message {
	font-family: "Roboto", sans-serif;
	margin-top: var(--nav-bar-height);
}
#main-img {
	display: block;
	//width: min(80vh, 100%);
	width: 100%;
	max-width: 32rem;
	height: auto;
	margin: 0 auto;
}
#get-started-btn {
	display: inline-block;
	margin: 1rem auto;
}
#get-started-btn-bottom {
	display: block;
	font-size: 1.5em;
	margin: 4rem auto;
	max-width: 32rem;
}
.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 80%;
	transform: translateX(-100%);
	transition: transform ease-in-out 0.25s;
	background-color: inherit;
}
.slide-out {
	transform: translateX(0%);
	box-shadow: 0 0 32px 8px #000;
}
.nav-tab {
	font-size: 1.1em;
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 0.5em 1em;
	box-sizing: border-box;
}
.nav-tab:hover, .nav-tab-active {
	background-color: rgb(150, 25, 0);
}
.btn {
	padding: 0.5em;
	border-radius: 8px;
	background-color: #fff;
	color: var(--background-color);
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
}
.btn:hover {
	background-color: #ccf;
}
.header-logo {
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	color: inherit;
	text-decoration: none;
	font-size: 1.7em;
}
#hero-card {
	margin-top: 0;
}
#page-header {
	text-align: center;
	color: #fff;
}
#contact-form {
	max-width: 42rem;
}
#contact-form > label {
	display: block;
	max-width: 42rem;
	margin: 0 0 var(--horizontal-padding);
}
input, textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 8px;
	border: solid 1px #000;
	margin: 4px 0;
}
#send-btn {
	display: block;
	width: 100%;
	color: #fff;
	background-color: var(--background-color);
	padding: 1em 0;
	font-size: 1.1em;
	margin: 0 auto;
}
#sent {
	text-align: center;
	margin: 0;
}
#send-btn:hover {
	background-color: #2af;
}
#portfolio {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 24rem));
	grid-gap: 4rem;
	margin-bottom: 4rem;
}
#portfolio > .card {
	text-align: center;
	margin: 0;
}
#portfolio > .card > .card-content {
	height: 4rem;
}
.portfolio-item-image {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
.card-links {
	margin: 16px 0;
}
.card-link-container {
	display: inline-block;
	margin: 0 16px;
}
.card-link {
	text-decoration: none;
}
@media screen and (min-width: 56rem) {
	body {
		--nav-bar-height: 3rem;
		--horizontal-padding: 2rem;
	}
	.flex-container {
		flex-direction: row;
	}
	.card-content {
		margin: 0 1rem 2rem;
	}
	.card {
		margin: 4rem auto;
		padding: 2rem;
		max-width: none;
	}
	#hero {
		text-align: left;
	}
	#hero-message {
		position: absolute;
		z-index: 1;
	}
	#get-started-btn-bottom {
		width: 50%;
		max-width: none;
	}
	#main-img {
		margin-top: 4em;
		max-width: 50rem;
	}
	#header-menu-btn {
		display: none;
	}
	.header-nav {
		position: static;
		float: right;
		width: unset;
		height: 100%;
		transform: translateX(0%);
	}
	.nav-tab {
		display: inline-block;
		height: var(--nav-bar-height);
		border-bottom: 0.2em solid var(--brand-color);
		margin: 0 1em;
		padding: 0;
	}
	.nav-tab:hover, .nav-tab-active {
		border-bottom-color: #fff;
		background-color: inherit;
	}
	.header-nav > .header-logo {
		display: none;
	}
}